parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests/*
    ignoreErrors:
        # phpseclib3 uses magic methods and dynamic class loading
        - '#Call to an undefined (static )?method phpseclib3\\#'
